<!doctype html>
<html>
<head>
	<title>Patrick Spencer</title>	
	
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	
  	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto:300" rel="stylesheet">
	
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>


<body>
<div class="fixed-top bg-dark">
	<div class="container" id="navb">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Patrick Spencer</a>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
	  		<div class="collapse navbar-collapse" id="navbarNav">
		   		<ul class="navbar-nav nav ml-auto">
		      		<li class="nav-item">
		        		<a class="nav-link" href="/aboutMe">About Me</a>
		      		</li>
		   			<li class="nav-item">
		        		<a class="nav-link" href="/projects">Projects</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/Resume">Resume</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/contact">Contact</a>
		      		</li>
		    	</ul>
		  	</div>
		</nav>
	</div>	
</div>
	
<div class="fix-height">
	{{{body}}}
</div>
	
	
<div class="footer mt-5 d-flex justify-content-center">
	<div class="social-icons-container align-self-end justify-content-center">
		<ul class="nav nav-fill">
			<li class="nav-item">
		    	<a class="social-icons nav-link fa fa-linkedin" href="https://www.linkedin.com/in/patrickspen/" target="_blank"></a>
		  	</li>
		  	<li class="nav-item">
		  		<a class="social-icons nav-link fa fa-github" href="https://github.com/spencerp98" target="_blank"></a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="social-icons nav-link fa fa-stack-overflow" href="https://stackoverflow.com/users/8798402/patrick-spencer?tab=profile" target="_blank"></a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="social-icons nav-link fa fa-facebook" href="https://www.facebook.com/patrick.spencer" target="_blank"></a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="social-icons nav-link fa fa-twitter" href="https://twitter.com/pspencer98" target="_blank"></a>
		  	</li>
		</ul>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>
