<div class="large-box d-flex justify-content-center m-5">
    <div class="align-self-center jumbotron">
        <h1>Error 500 - Something Has Gone Terribly Wrong</h1>
        <a class="btn btn-secondary" href="/">Back to the home page</a>
    </div>
</div>
