<link href="/stylesheets/about-style.css" rel="stylesheet" type="text/css">


<div class="about-me-head-box">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-7 mt-5">
                <h1 class="about-header">Software Engineer.</h1>
                <h1>A few things about me...</h1>
            </div>
        </div>
    </div>
</div>

<div class="about-me-box about-me-expedient">
    <div class="container">
        <p>
            <h2>I am currently working as a software applications engineer for Expedient, a cloud infrastructure and managed services company.</h2>
            <img class="osu-logo" src="/images/aboutme/expedient_logo.jpg">
            <br>
            <p class="body-text">
                I currently work with a small team to build, deliver and maintain distributed software applications that support the cloud and managed service business. 
                Our applications are written in PHP and Go. I have also developed CI pipelines with github actions that build, test and deploy our applications.
                Continuous deployment to our kubernetes clusters is handled by ArgoCD.
            </p>
        </p>
    </div>
</div>

<div class="about-me-box about-me-osu">
    <div class="container">
        <p>
            <h2>I have a bachelors degree in computer science from Oregon State University.</h2>
            <img class="osu-logo" src="/images/aboutme/osu3.png">
            <br>
            <p class="body-text">
                I became interested in computer science while talking to one of my co-workers while in training at Piedmont Airlines.
                Seeing some of the projects he and other acquaintances were working on inspired me to start studying it for myself.
                I started Harvard's online 
                <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x" target="_blank">CS50 course</a>
                and got about halfway through before deciding I wanted to learn as much as I could about computer science. I enrolled 
                in OSU's completely online post-bacc program soon after and in December 2018 I graduated from the program. 
            </p>
        </p>
    </div>
</div>

<div class="about-me-box about-me-pilot">
    <div class="row d-flex">
        <div class="col-md-6 align-self-center">
            <h2>I was an airline pilot.</h2>
            <p class="body-text">
                Prior to becoming a software engineer I was a professional pilot. I started flight training in 2010 at Liberty University. I earned my flight
                instructor certification while working on my aeronautics degree and started working for the school as an instructor. The regulations at the time required 1250 total hours of
                flight time to be hired by an airline. I built this time through instructing and a little bit of recreational flying.
                <br>
                I started at Piedmont Airlines in 2016 flying the Bombardier Dash-8. A couple years later transitioned to 
                the Embraer ERJ-145. My base airport was PHL.
            </p>
        </div>
        <div class="col-md-6 about-video-wrapper">
            <iframe class="w-100 h-100 m-1 about-video"
            src="https://www.youtube.com/embed/dpEUUEVhDVg?loop=1&autoplay=1&mute=1">
            </iframe>
            {{!-- <video class="w-100 p-1" controls autoplay loop src="/video/182flight.mp4"></video> --}}
        </div>
    </div>
</div>

<div class="about-me-box about-me-pictures p-0 mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 p-0">
                <img class="w-100" src="/images/aboutme/piedmont3.jpg">
            </div>
            <div class="col-4 p-0">
                <img class="w-100" src="/images/aboutme/kaleigh.jpg">
            </div>
            <div class="col-4 p-0">
                <img class="w-100" src="/images/aboutme/family.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-0">
                <img class="w-100" src="/images/aboutme/uganda.jpg">
            </div>
            <div class="col-4 p-0">
                <img class="w-100" src="/images/aboutme/philly-sky.png">
            </div>
            <div class="col-4 p-0">
                <img class="w-100" src="/images/aboutme/piedmont1.jpg">
            </div>
        </div>
    </div>
</div>

<div class="about-me-box about-me-funfacts">
    <div class="container">
        <h2>Some fun facts about me</h2>
        <p class="body-text">
            I met my wife, Kaleigh, in Uganda while on a trip with <a href="http://www.vcaya.org/" target="_blank">VCAYA</a>.
            I love going snowboarding in the winter. I've seen every episode of The Office at least half a dozen times. I'm the
            youngest of four kids and have ten neices and nephews. In 2016 my uncle and I flew a 1959 Cessna 182 
            from Northwest Arkansas to Seattle and back.
        </p>
    </div>
</div>


