<link href="/stylesheets/contact-style.css" rel="stylesheet" type="text/css">

<div class="contact-spacer"></div>
<div class="container contact-info">
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="jumbotron py-4 contact-info-text">
                <h2>Let's talk.</h2>
                <p>Feel free to get in contact with me.</p>
                <h4>Contact info</h4>
                <p>
                    Patrick Spencer <br>
                    111 Rockingham Rd <br>
                    Pittsburgh, PA 15238<br>
                    (434) 665-0135 <br>
                    <a href="mailto:pespencer98@gmail.com" target="_top">pespencer98@gmail.com</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            
        </div>
    </div>
</div>