<link href="/stylesheets/home-style.css" rel="stylesheet" type="text/css">

<div class="home-container">
    <div class="container jumbotron home-jumbo">
        <div class="row justify-content-center">
            <h1 class="home-header">Hi, my name is Patrick.</h1>
        </div>
        <div class="row my-5 justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <img class="w-100" src="/images/carousel1.jpg">
            </div>
        </div>
        <div class="row my-5 justify-content-center">
            <p class="col-md-10 home-bio">
                I am a software developer currently living in Pittsburgh, 
                Pennsylvania. <a href="/aboutme">More about me...</a>
            </p>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-3 my-1 d-flex justify-content-center">
                <a class="btn btn-dark" href="/projects">My projects</a>
            </div>
            <div class="col-lg-3 my-1 d-flex justify-content-center">
                <a class="btn btn-dark" href="/resume">My Resume</a>
            </div>
            <div class="col-lg-3 my-1 d-flex justify-content-center">
                <a class="btn btn-dark" href="/contact">Contact Info</a>
            </div>
        </div>
    </div>
</div>

            {{!--<img class="about-me-img" src="/images/logos/nodejs.png">--}}
            {{!--<img class="about-me-img" src="/images/logos/express.png">--}}
            {{!--<img class="about-me-img" src="/images/logos/handlebars-js.png">--}}
            {{!--<img class="about-me-img" src="/images/logos/getbootstrap.png">--}}