<link href="/stylesheets/projects-style.css" rel="stylesheet" type="text/css">


<div class="spacer">
    
</div>

<div class="container my-5">
    
    <div class="jumbotron">
        <h1 class="pb-3" align="center">CPR Analytics</h1>
        <div class="row">
            <div class="col-md-6 pl-5">
                <p align="center">
                    Technologies used: Python, Django, Javascript, HTML, CSS
                </p>
                <p align="center">
                    I work with another developer to develop and support this web-based application created for Hocus Focus, 
                    Inc., a nonprofit organization. CPR Analytics is used in special education classrooms for recording and 
                    analyzing students’ progress. 
                </p>
            </div>
            <div class="col-md-6 px-5">
                <div class="text-center">
                    <a href="http://www.cpr4classrooms.com/cpr-analytics.html" target="_blank">
                        <img class="thumbnail w-75" src="/images/cpr_logo_larger.png">
                        <div class="caption-capstone">
                            <div class="btn btn-secondary">More Info</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="jumbotron">
        <h1 class="pb-3" align="center">Capstone Project</h1>
        <div class="row">
            <div class="col-md-6 pl-5">
                <p align="center">
                    Technologies used: PHP, Codeigniter, Javascript, DS.js, HTML, CSS
                </p>
                <p align="center">
                    This is the capstone project for my bachelor's degree in computer science. I worked with two other students to complete
                    a project for SOWISO, an Amsterdam based company with an online learning platfrom for math and science. My team implemented
                    a new feature for their platform that uses test results data to determine how well the test questions assess students'
                    knowledge of the test subject and how reliable the test as a whole is.
                </p>
            </div>
            <div class="col-md-6 px-5">
                <div class="text-center">
                    <a href="/docs/capstone_poster.pdf" target="_blank">
                        <img class="thumbnail w-75" src="/images/capstone_poster.jpg">
                        <div class="caption-capstone">
                            <div class="btn btn-secondary">Open Project Poster</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="jumbotron">
        <h1 class="pb-3" align="center">Fitness-Log.com</h1>
        <div class="row">
            <div class="col-md-6 px-5">
                <p align="center">
                    Technologies used: Node.js, passport.js, mySQL, Google charts, Javascript, HTML, CSS, Heroku
                </p>
                <p align="center">
                    This website I created in the time between semesters while working on my computer science degree. 
                    It is a web-based tool used for tracking fitness goals and progress.
                </p>
            </div>
            <div class="col-md-6 px-5">
                <div class="text-center">
                    <a href="https://www.fitness-log.com" target="_blank">
                        <img class="thumbnail w-75" src="/images/fitness-log_thumb.png">
                        <div class="caption">
                            <div class="btn btn-secondary">Open Website</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6 px-5">
                <h1 align="center">Database Project</h1>
                <p align="center">
                    Technologies used: Node.js, mySQL, javascript, jQuery, HTML
                </p>
                <p align="center">
                    This application was the final project for my databases course at Oregon State University.
                </p>
                <br>
                <p align="center"><a class="btn btn-secondary" href="https://github.com/spencerp98/AirlineDatabase" target="_blank">See the code</a></p>
                <br>
            </div>
            <div class="col-md-6 px-5">
                <div class="text-center">
                    <a href="/db-project">
                        <img class="thumbnail w-75" src="/images/dbthumb.png">
                        <div class="caption">
                            <div class="btn btn-secondary">Open Application</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="jumbotron">
        <div class="row justify-content-center mb-2">
            <div class="col">
                <h2 class="projects-header">Check out my GitHub to see more of my work</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-secondary" href="https://github.com/spencerp98" target="_blank">Open GitHub</a>
        </div>
    </div>
    
    <div class="jumbotron">
        <div class="row justify-content-center mb-2">
            <div class="col">
                <h2 class="projects-header">Extra: Rock, Paper, Scissors bot</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-secondary" id="rps-newgame">Start a new game</button>
        </div>
        <hr>
        <div class="row px-5">
            <div class="col-md-6 rps-text-box">
                <p class="rps-text" id="rps-scores"></p>
            </div>
            <div class="col-md-6 rps-text-box">
                <p class="rps-text" id="rps-console"></p>
            </div>
        </div>
        <div class="row justify-content-center" id="rps-buttons"></div>
    </div>
</div>

<script src="/scripts/rock-paper-scissors.js"></script>