<link href="/stylesheets/resume-style.css" rel="stylesheet" type="text/css">

<div class="resume-header d-flex flex-column justify-content-center align-items-center">
    <div class="jumbotron p-0 resume-page-jumbo">
        <h1 class="m-3 resume-page-title">MY RESUME</h1>
    </div>
    <a class="btn btn-info dlbtn m-2" href="/docs/Resume.pdf" download>Download as PDF</a>
    <a class="btn btn-info dlbtn m-2" href="/docs/Resume.docx" download>Download as DOC</a>
</div>

<div class="container">
    <div class="scroll-down d-flex justify-content-around">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
        <i class="fa fa-caret-up" aria-hidden="true"></i>
        <i class="fa fa-caret-up" aria-hidden="true"></i>
    </div>
    <div class="row">  
        <div class="col-sm-5">
            <h3>Skills</h3>
        </div>
        <div class="col-sm-3">
            <h5>Proficient In</h5>
            <ul>
                <li>C</li>
                <li>Node.js</li>
                <li>mySQL</li>
                <li>Javascript</li>
                <li>HTML5</li>
                <li>CSS</li>
            </ul>
            
        </div>
        <div class="col-sm-4">
            <h5>Some Experience</h5>
            <ul>
                <li>C++</li>
                <li>Python</li>
                <li>Django</li>
                <li>PHP</li>
                <li>Assembly Language</li>
            </ul>
        </div>
    </div>
    <div class="resume-spacer"></div>
    <hr>
    <div class="resume-spacer"></div>
    <div class="row">  
        <div class="col-sm-5">
            <h3>Education</h3>
        </div>
        <div class="col-sm-7">
            <h5>Bachelor of Science in Computer Science</h5>
            <p>Oregon State University, <span class="location">Corvallis, OR</span>, January 2017 - December 2018</p>
            <ul>
                <li>GPA: 3.88</li>
                <li>
                    Coursework in Object-Oriented Programming, Discrete Mathematics, Data Structures, Computer Architecture and Assembly Language,
                    Web Development, Databases, Usability Engineering, Operating Systems, Algorithms, Computer Networks, API Development.
                </li>
            </ul>
            <div class="resume-spacer"></div>
            <h5>Bachelor of Science in Aeronautics</h5>
            <p>Liberty University, <span class="location">Lynchburg, VA</span>, August 2010 - May 2014</p>
            <ul>
                <li>GPA: 3.05</li>
                <li>Concentration in Commercial/Corporate Aviation</li>
                <li>National Intercollegiate Flight Association (NIFA) team member</li>
                <ul>
                    <li>1st place in 2012 Regional Competition, top 20 in 2014 National Competition</li>
                    <li>Lead team practices on use of analog flight computers 2-3 times per week.</li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="resume-spacer"></div>
    <hr>
    <div class="resume-spacer"></div>
    <div class="row">  
        <div class="col-sm-5">
            <h3>Work Experience</h3>
        </div>
        <div class="col-sm-7">
            <h5>Pilot - First Officer</h5>
            <p>Piedmont Airlines, <span class="location">Philadelphia, PA</span>, June 2016 - Present</p>
            <ul>
                <li>Assist the captain in the safe and efficient operation of the Embraer ERJ 145</li>
                <li>Ensure all flights are conducted in accordance with established company policies and
                    Federal Aviation Regulation.</li>
            </ul>
            <div class="resume-spacer"></div>
            <h5>Certified Flight Instructor</h5>
            <p>Liberty University School of Aeronautics, <span class="location">Lynchburg, VA</span>, April 2014 - May 2016</p>
            <ul>
                <li>Conducted one-on-one flight training with students utilizing aircraft, flight simulator and
                    classroom instruction.</li>
                <li>Managed the training schedules of up to ten students at a time in Private Pilot, Instrument and Commercial Pilot courses</li>
            </ul>
        </div>
    </div>
    <div class="resume-spacer"></div>
</div>