body {
    background: white;
}

.about-me-head-box {
    background-image:  url(/images/about-me-background-1.jpg);
    background-size:cover;
    background-position: top;
    height: 700px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.about-header {
    margin-top:200px;
    margin-bottom:50px;
    font-size: 70px;
}

.about-me-box {
    padding: 50px;
    font-size: 17px;
    font-weight: 600;
}

.about-me-expedient {
    background-color: #ffffff;
    text-align: center;    
}

.about-me-osu {
    background-color: #e0e0e0;
    text-align: center;    
}

.osu-logo {
    width:250px;
}

.about-me-pilot {
    background-color: #fafafa;
}

.about-video-wrapper {
    text-align: center;
    position: relative;
    padding-bottom: 28.2%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}

.about-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-me-pictures {
    background: #555555;
}

.about-me-funfacts {
    text-align: center;
}