<h1>Add a new crewbase</h1>
<form id="addCrew" action="/db-project/crew/crewbase" method="post">
	<fieldset>
		<legend>Add Crew Base</legend>
		<p>
			<label for="city">City:</label>
			<input type="text" name="city">
		</p>
		<input type="submit" value="Submit" name="CrewSubmit">
	</fieldset>
</form>
