<form id="createAircraftType" action="/db-project/aircraft/aircraftType" method="post">
	<fieldset>
		<legend>Create Aircraft Type</legend>
		<p>
			<label for="manufacturer">Manufacturer:</label>
			<input type="text" name="manufacturer">
		<p>
			<label for="model">Model:</label>
			<input type="text" name="model">
		
		<input type="submit" value="Submit" name="AircraftTypeSubmit">
	</fieldset>
</form>