<h1>Select a crew member to see their certifications: </h1>

<form id="searchCrew" action="/db-project/crew/crewsearch" method="post">
	<fieldset>
		<legend>Search Crew Memeber</legend>
		<p>Crew Member:
			<select name="crewSearch" id="crewSelect">
				{{#each crew_member}}
				<option value="{{id}}">{{fname}} {{lname}}</option>
				{{/each}}
			</select>
		</p>
	</fieldset>
</form>
<button onclick="searchMember()">Submit</button>
